.title, .subtitle, .information {
  height: auto;
  width: 100%;
  position: absolute;
  text-align: center;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxMjEyMSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjMzLjMzMzMzMzMzMzMlIiBzdG9wLWNvbG9yPSIjMWUxZjFlIi8+PHN0b3Agb2Zmc2V0PSI2Ni42NjY2NjY2NjY3JSIgc3RvcC1jb2xvcj0iIzFlMWYxZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxMjEyMSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
}

/*  Base  *********************** */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img,
footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background: #212121;
}

ul {
  list-style: none;
}

a img {
  border: none;
}

footer, header, nav, section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  color: #dedede;
  font-family: Open Sans;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.dot__name {
  font-size: 1.37em;
  font-weight: 700;
  letter-spacing: 0.005em;
  text-shadow: 0 0.143em 0.286em #000;
}

.gallery__btn--map {
  color: #212121;
}

.gallery__btn--back {
  color: #dedede;
}

.gallery__image_name {
  font-weight: 700;
  font-size: 2.2em;
  color: #fff;
}

.gallery__description {
  color: #212121;
}

/*  Layout  ************************ */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

.dot__name {
  margin-left: 4.2253521127%;
  width: 40.8450704225%;
  float: left;
  margin-right: 1.4084507042%;
}

.gallery {
  margin-left: 8.4507042254%;
  width: 83.0985915493%;
  float: left;
  margin-right: 1.4084507042%;
}

.hello, .info {
  position: relative;
  width: 100%;
  z-index: 2;
}

.main {
  background-image: url(../img/Hong_Kong_Map.svg);
  background-size: 145%;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  position: relative;
}

/*  Layout responsive ************************ */
@media (min-width: 401px) {
  .main {
    background-size: 100%;
  }
}
/*  Moduls  ************************ */
.title {
  top: 1em;
}
.title__text {
  padding: 1em 0;
  font-size: 3.286em;
}

.subtitle {
  bottom: 0em;
}
.subtitle__text {
  padding: 2.5rem 0;
}

.information {
  bottom: 50%;
}
.information__text {
  padding: 2.5rem 0;
}

.shadowMap {
  position: absolute;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxMjEyMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxMjEyMSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #212121), color-stop(100%, rgba(33, 33, 33, 0)));
  background-image: -moz-linear-gradient(#212121, rgba(33, 33, 33, 0));
  background-image: -webkit-linear-gradient(#212121, rgba(33, 33, 33, 0));
  background-image: linear-gradient(#212121, rgba(33, 33, 33, 0));
  width: 100%;
  z-index: 0;
}

.dot {
  position: absolute;
  width: 100%;
}
.dot--shamShuiPo {
  top: 10%;
}
.dot--p11 {
  top: 8%;
  left: -27%;
}
.dot--p11--fix {
  left: 23%;
}
.dot--mongKok {
  top: 32.25%;
}
.dot--tsimShaTsui {
  top: 58.25%;
}
.dot--central {
  top: 90%;
  height: 0;
}
.dot__name {
  margin-top: -1.3533834587rem;
  z-index: 1;
  text-align: right;
}
.dot__btn {
  z-index: 1;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  content: "";
  display: block;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-radius: 50%;
  background: #2196f3;
}
.dot__btn--photo {
  background: rgba(33, 150, 243, 0.25);
  transform: scale(0.8);
}

/*  States  ************************ */
.line {
  width: 100%;
  z-index: 1;
  background: #22394d;
  width: 2%;
  left: 50%;
  top: 0;
  margin-left: -1%;
  position: fixed;
}
.line__inert {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxNzhkOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxOTZmMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0178d9), color-stop(100%, #2196f3));
  background-image: -moz-linear-gradient(#0178d9, #2196f3);
  background-image: -webkit-linear-gradient(#0178d9, #2196f3);
  background-image: linear-gradient(#0178d9, #2196f3);
  height: 50%;
  width: 2%;
  box-shadow: 0 0 10px #2196F3;
  position: fixed;
}

.radGrad {
  pointer-events: none;
  width: 100%;
  z-index: 1;
  box-shadow: inset 0 0 10rem 1rem #272727;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center top;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.menuBtn {
  top: 0.5em;
  left: 0.5em;
  display: block;
  margin: 1em;
  position: fixed;
  width: 2em;
  z-index: 3;
}
.menuBtn:before {
  width: 2em;
  background-color: #808080;
  content: "";
  display: block;
  height: 0.3em;
  transition: all 230ms ease-in-out;
}
.menuBtn:after {
  width: 2em;
  background-color: #808080;
  content: "";
  display: block;
  height: 0.3em;
  transition: all 230ms ease-in-out;
}
.menuBtn:before {
  box-shadow: 0 0.7215em 0 #808080;
  margin-bottom: 1.143em;
}
.menuBtn:after {
  box-shadow: 0 -0.7215em 0 #808080;
  margin-top: 1.143em;
}
.menuBtn:hover:before {
  background-color: #dedede;
  box-shadow: 0 0.786em 0 #dedede;
  transform: translateY(-0.071em);
}
.menuBtn:hover:after {
  background-color: #dedede;
  box-shadow: 0 -0.786em 0 #dedede;
  transform: translateY(0.071em);
}

.navigation {
  position: fixed;
  bottom: 0;
  right: 100%;
  top: 0;
  width: 100%;
  background: #111;
  z-index: 5;
  text-align: center;
  transition: all 350ms cubic-bezier(0, 0.6, 1, 1);
}
.navigation li {
  color: rba(#dedede, 0.8);
  margin: 5em auto;
}
.navigation li:hover {
  color: #dedede;
}

.popUp {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background 300ms ease-in-out;
}

.gallery {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1rem 2rem #000;
  display: block;
  background: #2196F3;
  border-radius: 50%;
  transform: scale(0);
  transition: all 300ms ease-in-out;
}
.gallery > * {
  opacity: 0;
  transition: opacity 300ms ease-in-out 100ms;
}
.gallery__content {
  position: relative;
  box-shadow: 0px 0em 0em rgba(0, 0, 0, 0.5);
  transition: all 550ms ease-in-out;
}
.gallery__map {
  position: absolute;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out 200ms;
}
.gallery__image {
  position: relative;
}
.gallery__image_photo {
  width: 100%;
  display: block;
}
.gallery__image_photo--photo {
  box-shadow: 0px 0.2em 0.2em rgba(0, 0, 0, 0.5);
}
.gallery__image_name {
  line-height: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 -0.11em -0.09em;
}
.gallery__description {
  display: block;
  margin: 0.5em 1em 1em 1em;
}
.gallery__btn {
  text-align: center;
  padding: 1em 0 1em 0;
  display: block;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}
.gallery__btn--map {
  box-shadow: 0px -0.1em 0.2em 0em rgba(0, 0, 0, 0.5);
  background: #2196f3;
  position: relative;
  transition: all 150ms ease-in-out;
}
.gallery__btn--back {
  background: #212121;
  box-shadow: 0px -0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.js-click-dot__btn .popUp {
  pointer-events: all;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.js-click-dot__btn .popUp .gallery {
  background: #fff;
  border-radius: 0%;
  transform: scale(1);
}
.js-click-dot__btn .popUp .gallery > * {
  opacity: 1;
}

.js-click-gallery__btn--map {
  box-shadow: 0px 0.2em 0.2em rgba(0, 0, 0, 0.5) !important;
}
.js-click-gallery__btn--map .gallery__btn--map {
  box-shadow: 0px -11em 0em 11em #dedede;
  color: #dedede;
  background: #dedede;
}
.js-click-gallery__btn--map .gallery__map {
  opacity: 1;
  pointer-events: all;
}
