doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Test
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="css/style.css")
    
  body
    
    //---------------------//
    //--NAVIGATION         //
    //---------------------//
    header
      .menuBtn 
      nav.navigation
        ul
          li: a(href="#") Главная
          li: a(href="#") Sham Shui Po
          li: a(href="#") Mong Kok
          li: a(href="#") Tsim Sha Tsui
          li: a(href="#") Central
      
    
    
    //---------------------//
    //--1ST PAGE           //
    //---------------------//
          
    section.hello
      .title
        h1.title__text Гонконг<br>для<br>фотографов
      .subtitle
        h2.subtitle__text Это путеводитель по стрит-фотографиям Мы покажем места которые стоит посетить
    
    
    
    //---------------------//
    //--2ND PAGE           //
    //---------------------//
    
    section.info
      .information
        p.information__text Для удобства мы разместили<br>путь по Гоконгской ветке метро
    
    
    
    //---------------------//
    //--CONTENT/MAP        //  
    //---------------------//
    
    section.main
    
      .shadowMap
      .line
        .line__inert
      
      
      
      //---------------------//
      //--STATION            //
      //---------------------//
      
      .dot.dot--shamShuiPo
        h2.dot__name Sham Shui Po
        .dot__btn.dot__btn--shamShuiPo
          
      .dot.dot--mongKok
        h2.dot__name Mong Kok
        .dot__btn.dot__btn--mongKok
          
      .dot.dot--tsimShaTsui
        h2.dot__name Tsim Sha Tsui
        .dot__btn.dot__btn--tsimShaTsui       
          
      .dot.dot--central
        h2.dot__name Central
        .dot__btn.dot__btn--central
      
      
      
      
      //---------------------//
      //--PHOTO              //
      //---------------------//
              
      .dot.dot--p11
        .dot__btn.dot__btn--photo
          
      
      .radGrad
      
      
      
      //---------------------//
      //--GALLERY            //
      //---------------------//

      .popUp
        .gallery
          .gallery__content
            <iframe class="gallery__map" src="#" frameborder="0" allowfullscreen></iframe>
            .gallery__image
              img.gallery__image_photo(src="./img/1ShamShuiPo/main.jpg" alt="photo")
              h3.gallery__image_name
              
            p.gallery__description 
              
            .gallery__btn.gallery__btn--map НА КАРТУ
          .gallery__btn.gallery__btn--back НАЗАД
    
      //-.popUp#p11
          .gallery
            .gallery__content
              .gallery__image
                img.gallery__image_photo.gallery__image_photo--photo(src="./img/1ShamShuiPo/1.jpg", alt="photo")
              
            a.gallery__btn.gallery__btn--back(href="#") НАЗАД
          
    
    //---------------------//
    //--SCRIPT             //
    //---------------------//
    
    script(type="text/javascript", src="js/jquery-3.0.0.min.js")
    script(type="text/javascript", src="js/main.js")
