//  Var
/////////////////////////

// Background
$bgBlack: #212121

// Top line
$satBlue: #0178D9
// Bot line
$blue: #2196F3
// disable line
$darkBlue: #22394d

// Btn
$btnMap: #2196f3
$btnBack: #212121

// Type
$cWhite: #dedede
$cBlack: #212121

//  Цифры
$lineWidth: 2%
$lineWidthFix: -1%

$transition-time: 2500ms

$dotSize: 24px
$dotSizeFix: -12px
