//Анимация

.js-click-dot__btn--station
  .popUp
    pointer-events: all
    opacity: 1
    background: rgba(#000, .5)

    .gallery
      background: #fff
      border-radius: 0%
      transform: scale(1)
      & > *
        opacity: 1


.js-click-btn--map
  .gallery__content
    box-shadow: 0px 0.2em 0.2em rgba(#000, .5) !important

    .btn--map
      box-shadow: 0px -11em 0em 11em rgba(#dedede, 1)
      color: #dedede
      background: #dedede

    .gallery__map
      opacity: 1
      pointer-events: all




.js-click-dot__btn--photo
  .popUp
    pointer-events: all
    opacity: 1
    background: rgba(#000, .5)

    .photo
      background: #fff
      border-radius: 0%
      transform: scale(1)

      left: 0% !important
      & > *
        opacity: 1
